<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lesson_10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6A3DA9971F62F7140014EC55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A3DA9B01F62F7140014EC55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A3DA9BB1F62F7140014EC55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
